* {
    font-family: 'Roboto', 'sans-serif';
    box-sizing: border-box;
}

body {
    background-color: #f6f8fc;
    text-align: center;
}

#pokemonList{
    margin-top: 1rem;
}

.content {
    width: 100vw;
    padding: 1rem;
    background-color: #fff;
    height: 100vh;
}

@media screen and (min-width: 992px){
    .content{
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}

.content h1 {
    margin: 0;
}
